# Docker
docker-compose.yml
Dockerfile
browsers.json

# Credentials
.env
secrets*
.pgpass

# Development
.*env*/
.py*/
.git/
__pycache__/
.pytest_cache
.vscode
.ipynb_checkpoints
desktop/

# Build
static/
dist/
build/
*.pyc

# Scripting
*.ipynb

# LOGS
*.log
logs/
error_logs/

# testing

# data
data/*
src/data/*
!src/data/localstorage/Profile\ 1/Extensions/
users*
target/
video/

# Others
z_*